<!DOCTYPE html>
<html lang="en">
<head>
<title>Insert</title>
<meta charset="UTF-8">
<meta name="description" content="This is a page containing info">
<meta http-equiv="refresh" content="3600"> <!-- Refresh every hour -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.w3-insert {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.w3-insert h2 {
  text-align: center;
  color: #333;
  font-weight: normal;
}
.w3-insert label {
  display: block;
  margin: 10px 0;
  color: #2196f3;
  font-weight: bold;
}
.w3-insert input, .w3-insert select {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
}
.w3-return h4 {
  text-align: center;
  color: #333;
  font-weight: normal;
}
.w3-insert button {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  background-color: #2196f3;
  color: white;
  border: none;
  cursor: pointer;
}
.w3-insert button:hover {
  background-color: #177ccb;
}
.w3-return ul {
  list-style-type: none;
}
.w3-return ul {
  padding-left: 0;
}
.w3-return a {
  display: block;
  width: 100%;
  height: 40px;
  margin: 10px 0;
  background-color: #2196f3;
  color: white;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}
.w3-return a:hover {
  background-color: #177ccb;
}
.w3-return {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px; 
  background-color: white; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}
.insert-button {
  background-color: #177ccb !important;
}

</style>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="/Insert" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white insert-button" >Insert</a>
    <a href="/Query" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white query">Query</a>
  </div>
  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/Query" class="w3-bar-item w3-button w3-padding-large">Query</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Insert TA Info</h1>
    <p class="w3-xlarge">Please fill out the respective form, and click the insert button.</p>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-insert">
        <h2>TA Info</h2>
        <form action="/InsertTAInfo" method="post" enctype="application/x-www-form-urlencoded">
            <label for="StudentID">StudentID</label>
            <input id="StudentID" name="StudentID" type="text" required/>

        <label for="TA_Year">TA Year</label>
        <input id="TA_Year" name="TA_Year" type="text" required/>

        <label for="TA_Term">TA Term</label>
        <select id="TA_Term" name="TA_Term" required>
            <option value="Fall">Fall</option>
            <option value="Spring">Spring</option>
        </select>
        <input type="hidden" name="InsertionType" value="TA_Info"/>
        <button>Insert</button>
        </form>
        </div>
	<div class="w3-return">
      <h4>Return Links</h4>
      <ul>
        <!-- <li> <a href="http://localhost/Insert">Insert Information</a> -->
        <li> <a href="/Insert">Insert Information</a>
        <li> <a href="/">Home Page</a> 
      </ul>
	</div>
  </div>
</div>
</body>
</html>
