<!DOCTYPE html>
<head>
    <meta charset="utf8"> <!-- Chars Expected -->
    <meta name="description" content="This is a login page">
    <meta http-equiv="refresh" content="120"> <!-- Refresh every two min -->
    <title>Restricted Page</title>
</head>
<body>
    <h1>403 Restricted</h1>
    <p>To access this page you need to be logged into an account (Student)</p>
    <p><a href=https://phdumltrackstudent.auth.us-east-1.amazoncognito.com/login?client_id=5tjaqd4muuofbnkbof38c2l3sb&response_type=code&scope=email+openid&redirect_uri=http%3A%2F%2Flocalhost%2FLogin%2FStudent>Login</a>!
</body>