<!DOCTYPE html>
<head>
    <meta charset="utf8"> <!-- Chars Expected -->
    <meta name="description" content="This is a login page">
    <meta http-equiv="refresh" content="120"> <!-- Refresh every two min -->
    <title>Restricted Page</title>
</head>
<body>
    <h1>403 Restricted</h1>
    <p>To access this page you need to be logged into an account (Faculty)</p>
    <p><a href=https://phdumltrack.auth.us-east-1.amazoncognito.com/login?client_id=1k40n2kn3v7ciki79i0t5v83c3&response_type=code&scope=email+openid&redirect_uri=http%3A%2F%2Flocalhost%2FLogin%2FFaculty>Login</a>!
</body>